[user]
  name = Michael Davis
  email = mcarsondavis@gmail.com
  signingkey = AFB04D1960833A58

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[alias]
  git = !exec git
  g = !exec git
  t = tag --sort=version:refname
  sha = rev-parse HEAD
  st = status
  b = branch
  br = branch
  cia = commit -a
  ci = commit
  commit = commit -S
  co = checkout
  unstage = reset HEAD --
  ph = push
  pl = pull
  pull = pull --tags
  d = diff
  f = fetch
  subdate = submodule update --init --recursive
  submaster = submodule foreach git checkout master
  subpull = submodule foreach git pull
  sublts = ! git submaster && git subpull
  what = clean -n
  fuckthisnoise = clean -fd
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  count = rev-list --count
  allmaster = submodule foreach --recursive git checkout master
  eggplant = remote prune origin
  ep = remote prune origin
  branch-name = rev-parse --abbrev-ref HEAD
  publish = ! git push -u origin $(git branch-name)
  pub = publish
  merge = merge -S
  m = merge
  lt = !git tag --sort=version:refname | tail -n 1
  mes = log -1 --pretty=%B
  fuckoff = checkout -- .
  ignore-committed = update-index --assume-unchanged

[core]
  editor = kak
  excludesfile = ~/.config/git/gitignore
  attributesfile = ~/.gitattributes
[push]
  followTags = true
  default = simple
[hub]
  protocol = ssh
[commit]
  gpgsign = true
[gpg]
  program = gpg
[pull]
  rebase = false
[init]
  defaultBranch = main
