-- vim: syntax=haskell

Config {

    font        = "xft:Hasklig:size=13:style=Regular:antialias=true"
  , bgColor     = "#282a2e"
  , fgColor     = "#c5c8c6"
  , alpha       = 200
  , position    = Top
  , border      = NoBorder
  , borderWidth = 0
  , borderColor = "#373b41"

  , iconRoot = ".config/xmobar/icons"

  , sepChar  = "%"   -- delineator between plugin names and straight text
  , alignSep = "}{"  -- separator between left-right alignment

  , template = " %cpu% <icon=seperators/seperator.xpm/> %multicoretemp% <icon=seperators/seperator.xpm/> %memory% <icon=seperators/seperator.xpm/> %dynnetwork% <icon=seperators/seperator.xpm/>}{%KMDW% <icon=seperators/seperator.xpm/> %date% "

  , lowerOnStart     = True    -- send to bottom of window stack on start
  , hideOnStart      = False   -- start with window unmapped (hidden)
  , allDesktops      = True    -- show on all desktops
  , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
  , pickBroadest     = False   -- choose widest display (multi-monitor)
  , persistent       = True    -- enable/disable hiding (True = disabled)

  , commands = [
         Run Cpu [ "--template" , "<ipat><total>%"
                 , "--Low"      , "55"      -- units: %
                 , "--High"     , "77"      -- units: %
                 , "--low"      , "#b5bd68"
                 , "--normal"   , "#de935f"
                 , "--high"     , "#a54242"
                 , "--ppad"              , "3"
                 , "--width"             , "3"
                 , "--maxtwidth"         , "4"
                 , "--"
                   , "--load-icon-pattern" , "<icon=cpu/cpu_%%.xpm/>"
                 ] 10

       , Run MultiCoreTemp [ "--template" , "<maxipat><max>°C"
                           , "--Low"      , "64"      -- units: °C
                           , "--High"     , "73"      -- units: °C
                           , "--low"      , "#b5bd68"
                           , "--normal"   , "#de935f"
                           , "--high"     , "#a54242"
                           , "--ppad"      , "3"
                           , "--width"     , "3"
                           , "--maxtwidth" , "5"
                           , "--"
                             , "--max-icon-pattern" , "<icon=temperature/temperature_%%.xpm/>"
                             , "--mintemp" , "20"
                             , "--maxtemp" , "100"
                           ] 50

       , Run Memory [ "--template" , "<usedipat><usedratio>%"
                    , "--Low"      , "55"      -- units: %
                    , "--High"     , "77"      -- units: %
                    , "--low"      , "#b5bd68"
                    , "--normal"   , "#de935f"
                    , "--high"     , "#a54242"
                    , "--ppad"      , "3"
                    , "--width"     , "3"
                    , "--maxtwidth" , "4"
                    , "--"
                      , "--used-icon-pattern" , "<icon=ram/ram_%%.xpm/>"
                    ] 10

       , Run DynNetwork [ "--template" , "<txipat><rxipat>"
                        , "--Low"      , "10000"   -- units: B/s
                        , "--High"     , "100000"  -- units: B/s
                        , "--low"      , "#b5bd68"
                        , "--normal"   , "#de935f"
                        , "--high"     , "#a54242"
                        , "--maxtwidth" , "0"
                        , "--"
                          , "--rx-icon-pattern" , "<icon=network/rx/network_rx_%%.xpm/>"
                          , "--tx-icon-pattern" , "<icon=network/tx/network_tx_%%.xpm/>"
                        ] 10

       , Run WeatherX "KMDW" [ (""                        , "<fc=#5e8d87>?</fc>")
                             , ("clear"                   , "<icon=weather/weather_sunny.xpm/>")
                             , ("mostly clear"            , "<icon=weather/weather_mostly_sunny.xpm/>")
                             , ("sunny"                   , "<icon=weather/weather_sunny.xpm/>")
                             , ("mostly sunny"            , "<icon=weather/weather_mostly_sunny.xpm/>")
                             , ("partly sunny"            , "<icon=weather/weather_mostly_cloudy.xpm/>")
                             , ("cloudy"                  , "<icon=weather/weather_cloudy.xpm/>")
                             , ("mostly cloudy"           , "<icon=weather/weather_mostly_cloudy.xpm/>")
                             , ("partly cloudy"           , "<icon=weather/weather_mostly_sunny.xpm/>")
                             , ("fair"                    , "<icon=weather/weather_sunny.xpm/>")
                             , ("overcast"                , "<icon=weather/weather_cloudy.xpm/>")
                             , ("considerable cloudiness" , "<icon=weather/weather_cloudy.xpm/>")
                             , ("obscured"                , "<icon=weather/weather_obscured.xpm/>")
                             ] [ "--template", "<skyConditionS><tempF>°F <fc=#5f819d><rh></fc>% <fc=#81a2be><pressure></fc>hPa"
                               , "--Low"      , "50"      -- units: %
                               , "--High"     , "85"      -- units: %
                               , "--low"      , "#81a2be"
                               , "--normal"   , "#b5bd68"
                               , "--high"     , "#de935f"
                               , "--ppad"      , "3"
                               , "--width"     , "3"
                               , "--maxtwidth" , "18"
                               ] 36000

       , Run Date "%a %Y-%m-%d <icon=seperators/seperator.xpm/> %T" "date" 10

       ]

  }
